*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

body {
  background: #cccccc;
  color: #ffffff;
}

.chat-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #808080;
  border-radius: 3% 3% 0% 0% / 6% 6% 0% 0%;
  overflow: hidden;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  width: 70%;
  height: 95vh;
  color: #000000;
}

@media (max-width: 768px) {
  .chat-box {
    width: 100%;
  }
}

.header {
  background-image: linear-gradient(
    to right bottom,
    rgb(0, 105, 175),
    rgb(75, 164, 236)
  );
  padding: 0 20px;
  color: #ffffff;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  letter-spacing: 2px;
  font-weight: 100;
  border: 1px solid #cccccc;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.15);
}

.header h1 {
  margin: 15px auto;
}

.chat-box .form {
  display: flex;
  border: 1px solid #bbbbbb;
}

.chat-box .form input {
  width: 100%;
  outline: none;
  height: 50px;
  border: none;
}

.btn {
  outline: none;
  border: none;
  color: #252525;
}

.btn:disabled {
  color: #808080;
}

.messages {
  overflow: auto;
  display: flex;
  margin-top: auto;
  max-width: 100%;
}

.message-user {
  display: flex;
  justify-content: flex-end;
  max-width: inherit;
  text-align: right;
  flex-wrap: wrap;
}

.message-bot {
  display: flex;
  justify-content: flex-start;
  max-width: 300px;
  flex-wrap: wrap;
}

.msg-bot {
  background-image: linear-gradient(
    to right bottom,
    rgb(0, 105, 175),
    rgb(75, 164, 236)
  );
  color: #ffffff;
  box-shadow: 1rem 1.5rem 2rem rgba(0, 0, 0, 0.1);
  display: inline-block;
  margin: 10px;
  padding: 0 20px;
  border-radius: 10px;
  justify-self: flex-start;
}

.msg-user {
  background-image: linear-gradient(
    to right bottom,
    rgb(190, 190, 190),
    rgb(193, 221, 243)
  );
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.1);
  display: inline-block;
  margin: 10px;
  padding: 0 20px;
  border-radius: 10px;
  margin-left: auto;
}
