*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #cccccc;
  color: #ffffff;
}

.chat-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0.0625rem solid #808080;
  overflow: hidden;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: #ffffff;
  width: 100%;
  height: 100%;
  color: #000000;
}

@media (max-width: 48rem) {
  .chat-box {
    width: 100%;
  }
}

.header {
  background-image: linear-gradient(
    to right bottom,
    rgb(0, 105, 175),
    rgb(75, 164, 236)
  );
  color: #ffffff;
  margin: auto 0.625rem;
  letter-spacing: 0.125rem;
  text-align: center;
  border-top: 0.3125rem solid #eeeeee;
  border-bottom: 0.3125rem solid #eeeeee;
  border-radius: 1.25rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  height: 5rem;
  order: 1;
}

.header h1 {
  margin: 0.9375rem auto;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
}

.chat-box .form {
  display: flex;
  border: 0.125rem solid #cccccc;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  border-radius: 3.125rem;
  width: 95%;
  height: 3.125rem;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 0.625rem;
  order: 3;
}

.chat-box .form input {
  width: 100%;
  outline: none;
  border: none;
  padding-left: 1.25rem;
  letter-spacing: 0.0625rem;
}

.chat-box .form .btn {
  outline: none;
  border: none;
  color: #405f79;
  width: 10%;
  border-left: 0.0625rem solid #bbbbbb;
  box-shadow: 1rem 2rem 3rem rgba(0, 0, 0, 0.15);
  transform: translate(0);
  transition: transform 0.5s;
}

@media (max-width: 48rem) {
  .chat-box .form .btn {
    width: 20%;
  }
}

.chat-box .form .btn:active {
  transform: translateY(0.125rem);
}

.chat-box .form .btn:disabled {
  color: #9e9d9d;
}

.messages {
  overflow: auto;
  flex: auto;
  max-width: 100%;
  height: calc(100% - 8.125rem);
  order: 2;
}

.message-user {
  max-width: inherit;
  text-align: right;
  margin-right: 5%;
}

.message-bot {
  max-width: 18.75rem;
  margin-left: 5%;
}

.msg-bot {
  background-image: linear-gradient(
    to right bottom,
    rgb(0, 105, 175),
    rgb(75, 164, 236)
  );
  margin: 0.625rem;
  color: #ffffff;
  box-shadow: 1rem 1.5rem 2rem rgba(0, 0, 0, 0.1);
  display: inline-block;
  padding: 0 1.25rem;
  border-radius: 1.25rem;
}

.msg-user {
  background-image: linear-gradient(
    to right bottom,
    rgb(190, 190, 190),
    rgb(193, 221, 243)
  );
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.1);
  display: inline-block;
  margin: 0.625rem;
  padding: 0 1.25rem;
  border-radius: 1.25rem;
  margin-left: auto;
}

/* 390px */
@media (max-width: 24.375rem) {
  html {
    font-size: 90%;
  }
}
